<footer class="footer">
    <div class="container-footer">
        <div class="footer">
            <div class="copyright" id="social">
                <p>Más información
                    <a class='Whatsapp' title='Whatsapp' href='#'>
                        <i class="fa fa-whatsapp"></i>
                    </a>
                </p>
            </div>
            <div class="information" id="social">

                <p>Siguenos en nuestras redes sociales
                    <a class='facebook' title='facebook' href='#'>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class='twitter' title='twitter' href='#'>
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class='instagram' title='Instagram' href='#'>
                        <i class="fa fa-instagram"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="copyright2">
            <p>© Empresa de Turismo Travel S.A 2021 Todos los Derechos Reservados
            </p>
        </div>
    </div>
</footer>
