<app-menu></app-menu>
<div class="container-mt-3" *ngIf="place">
    <div class="row mt-3">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name"[(ngModel)]="place.name" required >
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" id="description" name="description"[(ngModel)]="place.description" required ></textarea>
                </div>
                <div class="form-group">
                    <label for="ubication">Ubicación</label>
                    <input type="text" class="form-control" id="ubication" name="ubication"[(ngModel)]="place.ubication" required >
                </div>
                <div class="form-group">
                    <label for="image1">Imagen 1</label>
                    <input type="url" class="form-control" id="image1" name="image1"[(ngModel)]="place.image1" required >
                </div>
                <div class="form-group">
                    <label for="image2">Imagen 2</label>
                    <input type="url" class="form-control" id="image2" name="image2"[(ngModel)]="place.image2" required >
                </div>
                <div class="form-group">
                    <label for="image3">Imagen 3</label>
                    <input type="url" class="form-control" id="image3" name="image3"[(ngModel)]="place.image3" required >
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/places">Volver</button>
            </form>
        </div>
    </div>
    
</div>

