.fa-sign-out-alt {
    margin-right: 8px;
    font-size: medium;
}

.fa-user-circle {
    margin-right: 8px;
    font-size: medium;
}

.fa-angle-right {
    margin-right: 8px;
}

.dropdown-menu {
    margin-right: 8px;
    font-size: medium;
}

.navbar-nav {
    font-size: 13px;
}