.main-container{
    min-height: calc(100vh - 193.88px);
}

.table {
    text-align: center;
}

h3 {
    margin-top: 20px;
    text-align: center;
}

.thead-dark {
    background-color: rgb(204, 193, 33);
    text-align: center;
}

.main-container {
    margin-left: 20px;
    margin-right: 20px;
}

.table_text{
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 29%, #d6d6d6 85%, #d6d6d6 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(29%, #f6f6f6), color-stop(85%, #d6d6d6), color-stop(100%, #d6d6d6));
    background: -webkit-linear-gradient(left, #ffffff 0%, #f6f6f6 29%, #d6d6d6 85%, #d6d6d6 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #f6f6f6 29%, #d6d6d6 85%, #d6d6d6 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #f6f6f6 29%, #d6d6d6 85%, #d6d6d6 100%);
    background: linear-gradient(to right, #ffffff 0%, #f6f6f6 29%, #d6d6d6 85%, #d6d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6', GradientType=1 );
}